@model DAL.ViewModels.FlightSearchVM

<h2>Search Flights</h2>

<form method="get" asp-action="Results">

    <input name="from" placeholder="From" />
    <input name="to" placeholder="To" />
    <input type="date" name="date" />

    <button>Search</button>

</form>

<hr />

<h3>All Available Flights</h3>

@foreach (var item in Model.Flights)
{
    <div style="border:1px solid gray; margin:10px; padding:10px;">

       

            <h3>@item.Flight.Flight_Number</h3>

            <p>
                @item.Flight.OriginLocation.City →
                @item.Flight.DestLocation.City
            </p>

           
        <form asp-controller="Flight"
              asp-action="Details"
              asp-route-serviceId="@item.ServiceId">

                <input type="hidden"
                       name="serviceId"
                       value="@item.ServiceId" />

                <button>Book</button>

            </form>

    </div>
}